
MachineManager/obj/Release/MachineManager.Properties.Resources.resources
MachineManager/obj/Release/MachineManager.pdb
MachineManager/obj/Release/MachineManager.Form1.resources
MachineManager/obj/Release/MachineManager.exe
MachineManager/obj/Release/MachineManager.csproj.GenerateResource.cache
MachineManager/obj/Release/MachineManager.csproj.CopyComplete
MachineManager/obj/Release/DesignTimeResolveAssemblyReferences.cache
MachineManager/obj/Debug/MachineManager.pdb
MachineManager/obj/Debug/MachineManager.exe
MachineManager/obj/Debug/MachineManager.csprojAssemblyReference.cache
MachineManager/obj/Debug/MachineManager.csproj.FileListAbsolute.txt
MachineManager/bin/Release/DarkUI.pdb
MachineManager/bin/Release/DarkUI.dll
MachineManager/bin/Release/Apache.NMS.xml
MachineManager/bin/Release/Apache.NMS.pdb
MachineManager/bin/Release/Apache.NMS.dll
MachineManager/bin/Release/Apache.NMS.ActiveMQ.xml
MachineManager/bin/Release/Apache.NMS.ActiveMQ.pdb
MachineManager/bin/Release/Apache.NMS.ActiveMQ.dll
MachineManager/bin/Debug/MachineManager.pdb
MachineManager/bin/Debug/MachineManager.exe
.vs/MachineManager/v16/Server/sqlite3/storage.ide-wal
.vs/MachineManager/v16/Server/sqlite3/storage.ide-shm
.vs/MachineManager/v16/Server/sqlite3/storage.ide
.vs/MachineManager/v16/Server/sqlite3/db.lock
.vs/MachineManager/v16/.suo
MachineManager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
